$color-base: #32325d;
$color-base-light: #ffffff;

.react-phone-number-input {

	&__row {
		display: flex;
		align-items: center;
	}

	&__icon {
		width: 20px;
		height: 15px;

		svg,
		img {
			border-radius: 4px;
			height: 100%;
			fill: $color-base;
		}
	}

	&__country {

		&--native {
			position: relative;
			align-self: stretch;

			//@extend .form-addon;
		}

		&-select {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			border: 0;
			opacity: 0;
			cursor: pointer;

			&-arrow {
				content: '';
				display: block;
				width: 0;
				height: 0;
				margin-left: 5px;
				border-width: 5px 4px 0 4px;
				border-style: solid;
				border-color: $color-base-light;
				border-left-color: transparent;
				border-right-color: transparent;
			}
		}
	}

	& + .form-help {
		left: 80px;
	}
}


// Is Loading state
.is-loading-countries-codes {
	user-select: none;
	
	&.btn {
		pointer-events: none;
	}
	
	&:before {
		position: absolute;
		display: block;
		width: 16px;
		height: 16px;
		content: '';
		transform-origin: 50% 50%;
		animation: loading 1.2s ease-out infinite;
		border: 3px solid rgba($color-base, .2);
		border-top-color: $color-base;
		border-radius: 50%;
	}
}
