.react-phone-number-input__row {
  display: flex;
  align-items: center;
}
.react-phone-number-input__icon {
  width: 20px;
  height: 15px;
}
.react-phone-number-input__icon svg,
.react-phone-number-input__icon img {
  border-radius: 4px;
  height: 100%;
  fill: #32325d;
}
.react-phone-number-input__country--native {
  position: relative;
  align-self: stretch;
}
.react-phone-number-input__country-select {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}
.react-phone-number-input__country-select-arrow {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-width: 5px 4px 0 4px;
  border-style: solid;
  border-color: #ffffff;
  border-left-color: transparent;
  border-right-color: transparent;
}
.react-phone-number-input + .form-help {
  left: 80px;
}

.is-loading-countries-codes {
  user-select: none;
}
.is-loading-countries-codes.btn {
  pointer-events: none;
}
.is-loading-countries-codes:before {
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  transform-origin: 50% 50%;
  animation: loading 1.2s ease-out infinite;
  border: 3px solid rgba(50, 50, 93, 0.2);
  border-top-color: #32325d;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
